#view-box {
    margin-top: 1em;
    height: 20em;
    width: 100%;
    border: solid 2px black;
    border-radius: 5px;
}

#header-inline {
    position: relative;
}

#social {
    position: relative;
    display: inline-block;
    float: right;
}

#projects-container {
    margin: 0px;
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#project-one, #project-two, #project-three {
    height: 16em;
    width: 16em;
    border: solid 1px black;
    display: inline-block;
    margin: .5em;
    border-radius: 5px;
}

#project-one {

}

#project-two {

}

#project-three {

}

#fluent-lang {
    position:relative;
    float: left;
}

#experimental-lang {
    position:relative;
    float: right;
}
