<div class='header-inline'>
    <h1 id='logo'>Ike!</h1>

    <div id='social'>
        <a href='https://www.facebook.com/gogreen37'><img src='/css/icons/facebook-grey.png'></a>
        <a href='https://www.linkedin.com/in/michaelmattice'><img src='/css/icons/linkedin-grey.png'></a>
        <a href='https://github.com/imattice'><img src='/css/icons/github-grey.png'></a>
        <a href='http://steamcommunity.com/id/gogreen37'><img src='/css/icons/steam-grey.png'></a>
    </div>
</div>

<div class='main_menu'>
    <ul class='nav nav-tabs' role='tablist'>
        <li ng-click='activeTab="projects"'  ng-class='{ active: activeTab=="projects"}' role='presentation'> <a ui-sref='projects'>Projects </a></li>
        <li ng-click='activeTab="skills"' ng-class='{ active: activeTab=="skills"}' role='presentation' > <a ui-sref='skills'>Skills </a></li>
        <li ng-click='activeTab="contact"' ng-class='{ active: activeTab=="contact"}' role='presentation' > <a ui-sref='contact'>Contact </a></li>
        <li ng-click='activeTab="about"' ng-class='{ active: activeTab=="about"}' role='presentation' > <a ui-sref='about'>About </a></li>
    </ul>
</div>
